---
// Content
import Services from "../content/services";
import Social from "../content/social";

// Components
import BdButton from "../components/Button/BdButton";
import BdBanner from "../components/Banner/BdBanner";
import HeaderCarousel from "../components/Carousel/HeaderCarousel";
import OurWorkCarousel from "../components/Carousel/OurWorkCarousel";
import ReviewsCarousel from "../components/Carousel/ReviewsCarousel";
import Layout from "../layouts/Layout.astro";

const aboutFacts = [
  {
    title: "30+",
    desc: "years experience",
  },
  {
    title: "200+",
    desc: "clients",
  },
  {
    title: "30+",
    desc: "years experience",
  },
];
---

<!-- Home -->
<Layout>
  <div class="home-header">
    <HeaderCarousel client:load />

    <div class="home-header-text-container bd-max-width">
      <div class="home-header-text xf-p-6">
        <h1 class="xf-text-24 xf-mb-4">
          Dream gardens that don’t cost the earth
        </h1>
        <p class="xf-text-12 xf-mb-5">
          With competitive pricing, experience the value of our affordable
          landscaping solutions as we create stunning outdoor spaces that suit
          your needs and exceed your expectations.
        </p>

        <BdButton>View our work</BdButton>
      </div>
    </div>
  </div>

  <!-- About -->
  <div class="home-about">
    <div class="bd-max-width xf-grid xf-py-md-15">
      <div class="xf-col-12 xf-col-md-6">
        <BdBanner class-names="xf-mx-auto xf-mx-md-0">About us</BdBanner>

        <p class="xf-my-4">
          At our landscaping company, we are dedicated to transforming ordinary
          outdoor spaces into extraordinary landscapes. With our passion for
          creating stunning and functional designs, we offer a wide range of
          services to meet all of your landscaping needs. From expert landscape
          design and installation to meticulous lawn maintenance and care, we
          strive for excellence in every project.
        </p>

        <p>
          Our team of skilled professionals takes pride in their craftsmanship
          and attention to detail, ensuring that each landscape we create is a
          masterpiece. With a commitment to customer satisfaction, we work
          closely with you to bring your vision to life and exceed your
          expectations.
        </p>
      </div>

      <div
        class="home-about-facts xf-col-12 xf-col-md-5 xf-col-offset-md-8 xf-grid xf-mt-6"
      >
        {
          aboutFacts.map((fact, i) => (
            <div
              class={`home-about-item xf-bg-primary xf-p-3 xf-text-center ${
                i == 2 ? "xf-col-12" : "xf-col-6"
              }`}
            >
              <p class="xf-text-colour-white xf-text-20 xf-fw-700">
                {fact.title}{" "}
              </p>
              <p class="xf-text-colour-grey-lighten-1">{fact.desc} </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>

  <!-- Services -->
  <div class="home-services">
    <div class="home-services-content bd-max-width xf-py-10">
      <div class="xf-text-center">
        <h2>Our Services</h2>
        <p>We provide a diverse range of services, some of which include:</p>
      </div>

      <div class="home-services-item-container xf-mt-6 xf-grid">
        {
          Services.map((service) => (
            <div
              class={`xf-col-12 xf-col-md-6 home-services-item xf-p-6 xf-mb-2`}
            >
              <div class="xf-flex xf-flex-align-items-center xf-mb-3">
                <div
                  class={`home-services-item-icon xf-mr-2 xf-bg-${service.colour}`}
                >
                  <img
                    class="xf-center"
                    src={service.icon}
                    alt=""
                    height="14"
                  />
                </div>

                <h3 class="xf-text-20 xf-mb-0">{service.title}</h3>
              </div>

              <p class="xf-text-12">{service.text}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>

  <!-- Our work -->
  <div class="home-our-work">
    <div class="bd-max-width xf-py-15">
      <OurWorkCarousel client:load />
    </div>
  </div>

  <!-- Contact us -->
  <a id="contact"></a>
  <div class="home-contact">
    <div class="bd-max-width xf-pt-10 xf-pb-15 xf-grid">
      <div class="xf-col-12 xf-col-md-6">
        <div class="home-contact-title">
          <h3 class="xf-text-24 xf-mt-md-4">Looking for a free quote?</h3>
          <p>
            Contact us today for a free quote and let us bring your dream
            landscape to life.
          </p>
        </div>

        <div class="xf-pl-4 xf-my-8 xf-pl-md-0">
          {
            Social.map((s) => (
              <a href={s.href} target="_blank" aria-label={s.title}>
                <div class="xf-flex xf-flex-align-items-center xf-mb-3">
                  <div class="home-contact-icon xf-bg-white xf-mr-3">
                    <img class="xf-center" src={s.icon} alt="" />
                  </div>

                  <div>
                    <h4>{s.title}</h4>
                    <p>{s.text}</p>
                  </div>
                </div>
              </a>
            ))
          }
        </div>
      </div>

      <div
        class="xf-bg-white home-contact-form xf-text-colour-secondary xf-p-6 xf-pb-8 xf-w-100 xf-col-12 xf-col-md-6"
      >
        <div class="xf-mb-3">
          <label>Name</label>
          <input type="text" placeholder="John Smith" />
        </div>

        <div class="xf-mb-3">
          <label>Email Address</label>
          <input type="text" placeholder="john@gmail.com" />
        </div>

        <div class="xf-mb-3">
          <label>Phone Number</label>
          <input type="text" placeholder="07400 820600" />
        </div>

        <div class="xf-mb-1">
          <label>Message</label>
          <textarea placeholder="Write your query here.." rows={5}></textarea>
        </div>

        <BdButton backgroundColour="primary" textColour="white" fullWidth>
          Send your message
        </BdButton>
      </div>
    </div>
  </div>

  <!-- Reviews -->
  <div class="home-reviews xf-pt-15 xf-pb-10">
    <div class="home-reviews-content">
      <ReviewsCarousel client:load />
    </div>
  </div>
</Layout>

<style lang="scss">
  @import "./styles/home.scss";
</style>
